Repository softwaremill/tapir, pull requests merged in 2023-05, with the labels that each got.

#2867 Update quicklens to 1.9.3
  project/Versions.scala
Labels: dependency

#2876 Update gatling-test-framework to 3.9.4
  build.sbt
Labels: dependency

#2882 Update gatling-charts-highcharts to 3.9.5
  build.sbt
Labels: dependency

#2652 Update sbt-twirl to 1.5.2
  project/plugins.sbt
Labels: dependency

#2880 Fix handling Strict and Empty body in AkkaBodyListener
  server/akka-http-server/src/main/scala/sttp/tapir/server/akkahttp/AkkaBodyListener.scala
  server/akka-http-server/src/test/scala/sttp/tapir/server/akkahttp/AkkaHttpServerTest.scala
Labels: bug

#2885 Update quicklens to 1.9.4
  project/Versions.scala
Labels: dependency

#2890 Update scalajs-dom to 2.5.0
  build.sbt
Labels: dependency

#2889 Update http4s-circe, http4s-core, ... to 0.23.19
  project/Versions.scala
Labels: dependency

#2886 Update cats-effect to 3.4.11
  project/Versions.scala
Labels: dependency

#2893 Update http4s-blaze-client, ... to 0.23.15
  project/Versions.scala
Labels: dependency

#2894 Update scalatest to 3.2.16
  project/Versions.scala
Labels: dependency

#2896 Update cats-effect to 3.5.0
  project/Versions.scala
Labels: dependency

#2895 Update scalacheck-1-17 to 3.2.16.0
  project/Versions.scala
Labels: dependency

#2899 Update http4s-blaze-client to 0.23.15
  project/Versions.scala
Labels: dependency

#2722 Update jsoniter-scala-core, ... to 2.20.7
  build.sbt
Labels: dependency

#2902 Update jsoniter-scala-core, ... to 2.23.0
  build.sbt
Labels: dependency

#2887 Update fs2-reactive-streams to 3.7.0
  project/Versions.scala
Labels: dependency

#2873 Expose API for building JSON schemas from Tapir Schemas
  build.sbt
  docs/apispec-docs/src/main/scala/sttp/tapir/docs/apispec/package.scala
  docs/apispec-docs/src/main/scala/sttp/tapir/docs/apispec/schema/MetaSchema.scala
  docs/apispec-docs/src/main/scala/sttp/tapir/docs/apispec/schema/TSchemaToASchema.scala
  docs/apispec-docs/src/main/scala/sttp/tapir/docs/apispec/schema/TapirSchemaToJsonSchema.scala
  docs/apispec-docs/src/main/scala/sttp/tapir/docs/apispec/schema/ToKeyedSchemas.scala
  docs/apispec-docs/src/main/scala/sttp/tapir/docs/apispec/schema/ToSchemaReference.scala
  docs/apispec-docs/src/main/scala/sttp/tapir/docs/apispec/schema/schema.scala
  docs/apispec-docs/src/test/scala/sttp/tapir/docs/apispec/schema/TapirSchemaToJsonSchemaTest.scala
  docs/asyncapi-docs/src/main/scala/sttp/tapir/docs/asyncapi/AsyncAPIDocsOptions.scala
  docs/openapi-docs/src/main/scala/sttp/tapir/docs/openapi/OpenAPIDocsOptions.scala
Labels: enhancement, openapi

#2864 Update zio-prelude to 1.0.0-RC19
  project/Versions.scala
Labels: dependency

#2863 Update zio-interop-cats to 23.0.0.5
  project/Versions.scala
Labels: dependency

#2905 Remove DecodeFailureHandler from ZioHttpServerOptions
  server/zio-http-server/src/main/scala/sttp/tapir/server/ziohttp/ZioHttpServerOptions.scala
Labels: zio

#2903 Update scalajs-dom to 2.6.0
  build.sbt
Labels: dependency

#2868 Update zio-interop-reactivestreams to 2.0.2
  project/Versions.scala
Labels: dependency

#2904 Document generating JSON schema
  doc/docs/json-schema.md
  doc/index.md
Labels: openapi, documentation

#2683 Update magnolia to 1.1.3
  build.sbt
Labels: dependency

#2638 Update gatling-sbt to 4.2.6
  project/plugins.sbt
Labels: dependency

#2913 Update gatling-sbt to 4.3.2
  project/plugins.sbt
Labels: dependency

#2919 Update netty-all to 4.1.93.Final
  project/Versions.scala
Labels: dependency

#2920 Update zio-interop-cats to 23.0.0.6
  project/Versions.scala
Labels: dependency

#2918 Allow ignoring logging of request handling for some endpoints
  doc/server/debugging.md
  server/core/src/main/scala/sttp/tapir/server/interceptor/log/ServerLog.scala
  server/core/src/main/scala/sttp/tapir/server/interceptor/log/ServerLogInterceptor.scala
  server/tests/src/main/scala/sttp/tapir/server/tests/ServerOptionsTests.scala
Labels: enhancement

#2921 Update zio-http to 3.0.0-RC2
  build.sbt
  server/zio-http-server/src/test/scala/sttp/tapir/server/ziohttp/ZioHttpCompositionTest.scala
  server/zio-http-server/src/test/scala/sttp/tapir/server/ziohttp/ZioHttpServerTest.scala
Labels: dependency, zio
