Repository softwaremill/tapir, pull requests merged in 2023-11, with the labels that each got.

#3292 Update circe-yaml to 1.15.0
  project/Versions.scala
Labels: dependency

#3300 Update play-json to 3.0.1
  project/Versions.scala
Labels: dependency

#3295 Update finatra-http-server, inject-app, ... to 23.11.0
  project/Versions.scala
Labels: dependency

#3301 Update fs2-reactive-streams to 3.9.3
  project/Versions.scala
Labels: dependency

#3302 Update zio, zio-streams, zio-test, ... to 2.0.19
  project/Versions.scala
Labels: dependency

#3294 Support graceful shutdown in Netty server
  build.sbt
  doc/server/netty.md
  examples/src/main/scala/sttp/tapir/examples/HelloWorldNettyCatsServer.scala
  server/netty-server/cats/src/main/scala/sttp/tapir/server/netty/cats/NettyCatsServer.scala
  server/netty-server/cats/src/test/scala/sttp/tapir/server/netty/cats/NettyCatsServerTest.scala
  server/netty-server/cats/src/test/scala/sttp/tapir/server/netty/cats/NettyCatsTestServerInterpreter.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/NettyConfig.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/NettyFutureServer.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/internal/NettyServerHandler.scala
  server/netty-server/src/test/scala/sttp/tapir/server/netty/NettyFutureServerTest.scala
  server/netty-server/src/test/scala/sttp/tapir/server/netty/NettyFutureTestServerInterpreter.scala
  server/netty-server/zio/src/main/scala/sttp/tapir/server/netty/zio/NettyZioServer.scala
  server/netty-server/zio/src/test/scala/sttp/tapir/server/netty/zio/NettyZioServerTest.scala
  server/netty-server/zio/src/test/scala/sttp/tapir/server/netty/zio/NettyZioTestServerInterpreter.scala
  server/tests/src/main/scala/sttp/tapir/server/tests/CreateServerTest.scala
  server/tests/src/main/scala/sttp/tapir/server/tests/ServerGracefulShutdownTests.scala
  server/tests/src/main/scala/sttp/tapir/server/tests/Sleeper.scala
  server/tests/src/main/scala/sttp/tapir/server/tests/TestServerInterpreter.scala
Labels: enhancement, Netty

#3305 Update mdoc, sbt-mdoc to 2.5.0
  project/plugins.sbt
Labels: dependency

#3304 Migrate servers from tapir-loom
  .github/workflows/ci.yml
  build.sbt
  doc/contributing.md
  doc/index.md
  doc/other_interpreters.md
  doc/server/netty.md
  doc/server/nima.md
  doc/stability.md
  project/Versions.scala
  server/netty-server/loom/src/main/scala/sttp/tapir/server/netty/loom/NettyIdServer.scala
  server/netty-server/loom/src/main/scala/sttp/tapir/server/netty/loom/NettyIdServerInterpreter.scala
  server/netty-server/loom/src/main/scala/sttp/tapir/server/netty/loom/NettyIdServerOptions.scala
  server/netty-server/loom/src/main/scala/sttp/tapir/server/netty/loom/loom.scala
  server/netty-server/loom/src/test/scala/sttp/tapir/server/netty/loom/NettyIdServerTest.scala
  server/netty-server/loom/src/test/scala/sttp/tapir/server/netty/loom/NettyIdTestServerInterpreter.scala
  server/nima-server/src/main/scala/sttp/tapir/server/nima/NimaServerInterpreter.scala
  server/nima-server/src/main/scala/sttp/tapir/server/nima/NimaServerOptions.scala
  server/nima-server/src/main/scala/sttp/tapir/server/nima/internal/NimaBodyListener.scala
  server/nima-server/src/main/scala/sttp/tapir/server/nima/internal/NimaRequestBody.scala
  server/nima-server/src/main/scala/sttp/tapir/server/nima/internal/NimaServerRequest.scala
  server/nima-server/src/main/scala/sttp/tapir/server/nima/internal/NimaToResponseBody.scala
  server/nima-server/src/main/scala/sttp/tapir/server/nima/internal/package.scala
  server/nima-server/src/main/scala/sttp/tapir/server/nima/nima.scala
  server/nima-server/src/test/resources/logback.xml
  server/nima-server/src/test/scala/sttp/tapir/server/nima/NimaServerTest.scala
  server/nima-server/src/test/scala/sttp/tapir/server/nima/NimaTestServerInterpreter.scala
Labels: enhancement, server, documentation, Netty

#3307 Update armeria to 1.26.2
  project/Versions.scala
Labels: dependency

#3308 Update client3:akka-http-backend, ... to 3.9.1
  project/Versions.scala
Labels: dependency

#3310 Update netty-all to 4.1.101.Final
  project/Versions.scala
Labels: dependency

#3311 Update mdoc, sbt-mdoc to 2.5.1
  project/plugins.sbt
Labels: dependency

#3317 Update opentelemetry-api, ... to 1.32.0
  project/Versions.scala
Labels: dependency

#3318 Update http4s-circe, http4s-core, ... to 0.23.24
  project/Versions.scala
Labels: dependency

#3320 Update vertx-web to 4.5.0
  project/Versions.scala
Labels: dependency

#3329 Update armeria to 1.26.3
  project/Versions.scala
Labels: dependency

#3330 Update sbt-assembly to 2.1.5
  project/plugins.sbt
Labels: dependency

#3334 Update jwt-circe to 9.4.5
  project/Versions.scala
Labels: dependency

#3323 Update sbt-twirl to 2.0.2
  project/plugins.sbt
Labels: dependency

#3341 Update asyncapi-circe-yaml, ... to 0.7.3
  project/Versions.scala
Labels: dependency
