Repository softwaremill/tapir, pull requests merged in 2023-07, with the labels that each got.

#3007 Update zio-json to 0.6.0
  project/Versions.scala
Labels: dependency

#2999 Update jawn-parser to 1.5.1
  build.sbt
Labels: dependency

#3012 Update scalafmt-core to 3.7.7
  .scalafmt.conf
Labels: dependency

#3016 Update client3:akka-http-backend, ... to 3.8.16
  project/Versions.scala
Labels: dependency

#3018 Update opentelemetry-api, ... to 1.28.0
  project/Versions.scala
Labels: dependency

#3020 Update upickle to 3.1.2
  project/Versions.scala
Labels: dependency

#3029 Update scalafmt-core to 3.7.9
  .git-blame-ignore-revs
  .scalafmt.conf
  core/src/main/scala/sttp/tapir/Schema.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/NettyConfig.scala
Labels: dependency

#3036 Update jwt-circe to 9.4.3
  project/Versions.scala
Labels: dependency

#3041 Update play-ahc-ws-standalone to 2.1.11
  project/Versions.scala
Labels: dependency

#3039 Update magnolia to 1.3.3
  build.sbt
Labels: dependency

#3040 Update quicklens to 1.9.5
  project/Versions.scala
Labels: dependency

#3042 Update swagger-ui to 5.1.2
  project/Versions.scala
Labels: dependency

#3037 Update scalafmt-core to 3.7.10
  .scalafmt.conf
Labels: dependency

#3046 Update swagger-ui to 5.1.3
  project/Versions.scala
Labels: dependency

#3044 Update sbt-mima-plugin to 1.1.3
  project/plugins.sbt
Labels: dependency

#3051 Update netty-reactive-streams-http to 2.0.9
  project/Versions.scala
Labels: dependency

#3050 Update quicklens to 1.9.6
  project/Versions.scala
Labels: dependency

#3049 Update aws-lambda-java-runtime-interface-client to 2.3.3
  project/Versions.scala
Labels: dependency

#3052 Update http4s-circe, http4s-core, ... to 0.23.23
  project/Versions.scala
Labels: dependency

#3028 Update model:core to 1.7.0
  project/Versions.scala
Labels: dependency

#3058 Update netty-all to 4.1.95.Final
  project/Versions.scala
Labels: dependency

#3013 [bugfix] Sending Accept-Charset causes 406 NotAcceptable response
  project/Versions.scala
  server/tests/src/main/scala/sttp/tapir/server/tests/ServerContentNegotiationTests.scala
Labels: bug

#3063 Update enumeratum to 1.7.3
  project/Versions.scala
Labels: dependency

#3065 [bugfix] Fix chunk size for Netty Cats file body
  server/netty-server/cats/src/main/scala/sttp/tapir/server/netty/internal/NettyCatsToResponseBody.scala
Labels: bug, Netty

#3062 Netty streaming for ZIO
  build.sbt
  doc/server/netty.md
  examples/src/main/scala/sttp/tapir/examples/streaming/StreamingNettyZioServer.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/internal/NettyToStreamsResponseBody.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/internal/StreamCompatible.scala
  server/netty-server/zio/src/main/scala/sttp/tapir/server/netty/internal/NettyZioRequestBody.scala
  server/netty-server/zio/src/main/scala/sttp/tapir/server/netty/zio/NettyZioServer.scala
  server/netty-server/zio/src/main/scala/sttp/tapir/server/netty/zio/NettyZioServerInterpreter.scala
  server/netty-server/zio/src/main/scala/sttp/tapir/server/netty/zio/internal/ZioStreamCompatible.scala
  server/netty-server/zio/src/test/scala/sttp/tapir/server/netty/zio/NettyZioServerTest.scala
  server/netty-server/zio/src/test/scala/sttp/tapir/server/netty/zio/NettyZioTestServerInterpreter.scala
Labels: enhancement, zio, Netty

#3064 Update asyncapi-circe-yaml, ... to 0.6.0
  docs/asyncapi-docs/src/test/resources/expected_binding.yml
  docs/asyncapi-docs/src/test/resources/expected_description_header.yml
  docs/asyncapi-docs/src/test/resources/expected_description_query.yml
  docs/asyncapi-docs/src/test/resources/expected_extensions.yml
  docs/asyncapi-docs/src/test/resources/expected_flags_header.yml
  docs/asyncapi-docs/src/test/resources/expected_flags_query.yml
  docs/asyncapi-docs/src/test/resources/expected_json_custom_schema_name.yml
  docs/asyncapi-docs/src/test/resources/expected_json_examples.yml
  docs/asyncapi-docs/src/test/resources/expected_json_json.yml
  docs/asyncapi-docs/src/test/resources/expected_required_parameters.yml
  docs/asyncapi-docs/src/test/resources/expected_security.yml
  docs/asyncapi-docs/src/test/resources/expected_string.yml
  docs/asyncapi-docs/src/test/resources/expected_string_json.yml
  docs/asyncapi-docs/src/test/resources/expected_two_endpoints.yml
  project/Versions.scala
Labels: dependency

#3067 Update sbt, sbt-dependency-tree to 1.9.3
  project/build.properties
Labels: dependency

#3082 Update gatling-sbt to 4.4.0
  project/plugins.sbt
Labels: dependency

#3083 Update netty-all to 4.1.96.Final
  project/Versions.scala
Labels: dependency

#3081 Update sbt-softwaremill-browser-test-js, ... to 2.0.13
  project/plugins.sbt
Labels: dependency
