Repository softwaremill/tapir, pull requests merged in 2023-10, with the labels that each got.

#3221 Update gatling-sbt to 4.6.0
  project/plugins.sbt
Labels: dependency

#3220 Update asyncapi-circe-yaml, ... to 0.6.3
  project/Versions.scala
Labels: dependency

#3222 Rework Pickler for coproducts and enums
  core/src/main/scala-3/sttp/tapir/internal/EnumerationMacros.scala
  core/src/main/scala-3/sttp/tapir/macros/ValidatorMacros.scala
  doc/endpoint/pickler.md
  json/pickler/src/main/scala/sttp/tapir/json/pickler/CreateDerivedEnumerationPickler.scala
  json/pickler/src/main/scala/sttp/tapir/json/pickler/Pickler.scala
  json/pickler/src/main/scala/sttp/tapir/json/pickler/PicklerConfiguration.scala
  json/pickler/src/main/scala/sttp/tapir/json/pickler/Readers.scala
  json/pickler/src/main/scala/sttp/tapir/json/pickler/SubtypeDiscriminator.scala
  json/pickler/src/main/scala/sttp/tapir/json/pickler/Writers.scala
  json/pickler/src/main/scala/sttp/tapir/json/pickler/generic.scala
  json/pickler/src/test/scala/sttp/tapir/json/pickler/Fixtures.scala
  json/pickler/src/test/scala/sttp/tapir/json/pickler/PicklerBasicTest.scala
  json/pickler/src/test/scala/sttp/tapir/json/pickler/PicklerCoproductTest.scala
  json/pickler/src/test/scala/sttp/tapir/json/pickler/PicklerCustomizationTest.scala
  json/pickler/src/test/scala/sttp/tapir/json/pickler/PicklerEnumTest.scala
  json/pickler/src/test/scala/sttp/tapir/json/pickler/PicklerTest.scala
  json/pickler/src/test/scala/sttp/tapir/json/pickler/SchemaDerivationTest.scala
Labels: Pickler

#3230 Update jsoniter-scala-core, ... to 2.24.1
  build.sbt
Labels: dependency

#3231 Update opentelemetry-api, ... to 1.31.0
  project/Versions.scala
Labels: dependency

#3238 Update sbt-ide-settings to 1.1.2
  project/plugins.sbt
Labels: dependency

#3237 Update netty-all to 4.1.100.Final
  project/Versions.scala
Labels: dependency

#3239 Update mdoc, sbt-mdoc to 2.3.8
  project/plugins.sbt
Labels: dependency

#3240 Update vertx-web to 4.4.6
  project/Versions.scala
Labels: dependency

#3242 Update sbt-scala-native to 0.4.16
  project/plugins.sbt
Labels: dependency

#3244 Update swagger-ui to 5.9.0
  project/Versions.scala
Labels: dependency

#3252 Update mdoc, sbt-mdoc to 2.4.0
  project/plugins.sbt
Labels: dependency

#3257 Update netty-reactive-streams-http to 2.0.10
  project/Versions.scala
Labels: dependency

#3258 Update jsoniter-scala-core, ... to 2.24.2
  build.sbt
Labels: dependency

#3259 Update play-json to 2.10.2
  project/Versions.scala
Labels: dependency

#3261 Update sbt, sbt-dependency-tree to 1.9.7
  project/build.properties
Labels: dependency

#3260 Update sbt-twirl to 1.6.2
  project/plugins.sbt
Labels: dependency

#3264 Update sbt-twirl to 2.0.1
  project/plugins.sbt
Labels: dependency

#3269 Update magnolia to 1.3.4
  build.sbt
Labels: dependency

#3271 Update scalafmt-core to 3.7.15
  .git-blame-ignore-revs
  .scalafmt.conf
  core/src/main/scala-3/sttp/tapir/macros/ValidatorMacros.scala
  docs/openapi-docs/src/test/scalajvm-2/sttp/tapir/docs/openapi/VerifyYamlEnumeratumTest.scala
  docs/redoc/src/main/scala/sttp/tapir/redoc/Redoc.scala
  docs/redoc/src/main/scala/sttp/tapir/redoc/RedocUIOptions.scala
  examples/src/main/scala/sttp/tapir/examples/observability/OpenTelemetryMetricsExample.scala
  examples3/src/main/scala/sttp/tapir/examples3/BooksPicklerExample.scala
  integrations/iron/src/main/scala/sttp/iron/codec/iron/TapirCodecIron.scala
  json/circe/src/test/scalajvm/sttp/tapir/json/circe/TapirJsonCirceTests.scala
  json/pickler/src/main/scala/sttp/tapir/json/pickler/SubtypeDiscriminator.scala
  json/pickler/src/test/scala/sttp/tapir/json/pickler/SchemaDerivationTest.scala
  openapi-codegen/core/src/main/scala/sttp/tapir/codegen/EndpointGenerator.scala
  openapi-codegen/core/src/test/scala/sttp/tapir/codegen/ClassDefinitionGeneratorSpec.scala
  openapi-codegen/core/src/test/scala/sttp/tapir/codegen/models/SchemaParserSpec.scala
Labels: dependency

#3270 Update pekko-grpc-runtime, ... to 1.0.1
  build.sbt
  project/plugins.sbt
Labels: dependency

#3262 Update netty-reactive-streams-http to 3.0.0
  build.sbt
  project/Versions.scala
  server/netty-server/cats/src/main/scala/sttp/tapir/server/netty/internal/NettyCatsRequestBody.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/NettyConfig.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/internal/NettyServerHandler.scala
  server/netty-server/zio/src/main/scala/sttp/tapir/server/netty/internal/NettyZioRequestBody.scala
Labels: dependency

#3280 Update armeria to 1.26.0
  project/Versions.scala
Labels: dependency

#3279 Update sbt-assembly to 2.1.4
  project/plugins.sbt
Labels: dependency

#3283 Update jsoniter-scala-core, ... to 2.24.4
  build.sbt
Labels: dependency

#3286 Update armeria to 1.26.1
  project/Versions.scala
Labels: dependency

#3256 Netty server side cancellation
  server/netty-server/cats/src/main/scala/sttp/tapir/server/netty/cats/NettyCatsServer.scala
  server/netty-server/cats/src/test/scala/sttp/tapir/server/netty/cats/NettyCatsServerTest.scala
  server/netty-server/cats/src/test/scala/sttp/tapir/server/netty/cats/NettyFs2StreamingCancellationTest.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/NettyFutureServer.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/internal/NettyServerHandler.scala
  server/netty-server/zio/src/main/scala/sttp/tapir/server/netty/zio/NettyZioServer.scala
  server/netty-server/zio/src/test/scala/sttp/tapir/server/netty/zio/NettyZioServerTest.scala
  server/tests/src/main/scala/sttp/tapir/server/tests/ServerCancellationTests.scala
Labels: Netty
