Repository softwaremill/tapir, pull requests merged in 2024-06, with the labels that each got.

#3813 Update refined to 0.11.2
  project/Versions.scala
Labels: dependency, automerge

#3817 Update zio-json to 0.7.0
  project/Versions.scala
Labels: dependency, automerge

#3810 Update swagger-ui to 5.17.14
  project/Versions.scala
Labels: dependency, automerge

#3809 Update java-dogstatsd-client to 4.4.1
  project/Versions.scala
Labels: dependency, automerge

#3805 Update sbt-scala-native to 0.5.2
  project/plugins.sbt
Labels: dependency, automerge

#3811 Update zio-prelude to 1.0.0-RC27
  project/Versions.scala
Labels: dependency, automerge

#3816 Pickler: add transientNone for optional fields
  doc/endpoint/pickler.md
  json/pickler/src/main/scala/sttp/tapir/json/pickler/PicklerConfiguration.scala
  json/pickler/src/main/scala/sttp/tapir/json/pickler/Writers.scala
  json/pickler/src/main/scala/sttp/tapir/json/pickler/macros.scala
  json/pickler/src/test/scala/sttp/tapir/json/pickler/Fixtures.scala
  json/pickler/src/test/scala/sttp/tapir/json/pickler/PicklerBasicTest.scala
Labels: Pickler

#3821 Update java-dogstatsd-client to 4.4.2
  project/Versions.scala
Labels: dependency, automerge

#3823 Update classgraph to 4.8.173
  build.sbt
Labels: dependency, automerge

#3824 Update sbt-scala-native to 0.5.3
  project/plugins.sbt
Labels: dependency, automerge

#3815 Netty servers: handle requestTimeout properly, add idleTimeout
  build.sbt
  server/netty-server/cats/src/main/scala/sttp/tapir/server/netty/cats/NettyCatsServer.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/NettyConfig.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/NettyFutureServer.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/internal/NettyBootstrap.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/internal/NettyServerHandler.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/internal/UnhandledExceptionHandler.scala
  server/netty-server/sync/src/main/scala/sttp/tapir/server/netty/sync/NettySyncServer.scala
  server/netty-server/zio/src/main/scala/sttp/tapir/server/netty/zio/NettyZioServer.scala
Labels: Netty

#3822 Update zio, zio-streams, zio-test, ... to 2.1.2
  project/Versions.scala
Labels: dependency, automerge

#3826 Fix handling of WS Close frame in Netty backends
  project/Versions.scala
  server/netty-server/cats/src/main/scala/sttp/tapir/server/netty/cats/internal/WebSocketPipeProcessor.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/internal/NettyServerHandler.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/internal/ws/WebSocketPingPongFrameHandler.scala
  server/netty-server/sync/src/main/scala/sttp/tapir/server/netty/sync/internal/ws/OxSourceWebSocketProcessor.scala
  server/netty-server/sync/src/test/scala/sttp/tapir/server/netty/sync/NettySyncServerTest.scala
  server/tests/src/main/scala/sttp/tapir/server/tests/ServerWebSocketTests.scala
Labels: Netty

#3836 Update netty-all to 4.1.111.Final
  project/Versions.scala
Labels: dependency, automerge

#3840 Update armeria to 1.29.0
  project/Versions.scala
Labels: dependency, automerge

#3831 Update scala-java-time, ... to 2.6.0
  project/Versions.scala
Labels: dependency, automerge

#3851 Update play, play-akka-http-server, ... to 2.9.4
  project/Versions.scala
Labels: dependency, automerge

#3854 Update sbt-twirl to 2.0.6
  project/plugins.sbt
Labels: dependency, automerge

#3859 Update classgraph to 4.8.174
  build.sbt
Labels: dependency, automerge

#3863 Update mdoc, sbt-mdoc to 2.5.3
  project/plugins.sbt
Labels: dependency, automerge

#3853 Update play, play-json, play-netty-server, ... to 3.0.4
  project/Versions.scala
Labels: dependency, automerge

#3832 Update opentelemetry-api, ... to 1.39.0
  project/Versions.scala
Labels: dependency, automerge

#3806 Update jawn-parser to 1.6.0
  build.sbt
Labels: dependency, automerge

#3841 Update zio, zio-streams, zio-test, ... to 2.1.3
  project/Versions.scala
  server/zio-http-server/src/test/scala/sttp/tapir/server/ziohttp/ZioHttpTestServerInterpreter.scala
Labels: dependency, automerge

#3864 Update zio, zio-streams, zio-test, ... to 2.1.4
  project/Versions.scala
Labels: dependency, automerge

#3868 Update gatling-charts-highcharts to 3.11.4
  build.sbt
Labels: dependency, automerge

#3867 Update gatling-test-framework to 3.11.4
  build.sbt
Labels: dependency, automerge

#3871 Update scalacheck-1-18 to 3.2.19.0
  project/Versions.scala
Labels: dependency, automerge

#3869 Update iron to 2.6.0
  project/Versions.scala
Labels: dependency, automerge

#3874 Update sbt-scala-native to 0.5.4
  project/plugins.sbt
Labels: dependency, automerge

#3872 Update circe-yaml to 0.15.2
  project/Versions.scala
Labels: dependency, automerge

#3882 Update play-ahc-ws-standalone to 3.0.4
  project/Versions.scala
Labels: dependency, automerge

#3879 Update tethys-core, tethys-derivation, ... to 0.28.4
  project/Versions.scala
Labels: dependency, automerge

#3880 Update play-ahc-ws-standalone to 2.2.8
  project/Versions.scala
Labels: dependency, automerge

#3883 Update sbt-twirl to 2.0.7
  project/plugins.sbt
Labels: dependency, automerge

#3884 Update armeria to 1.29.1
  project/Versions.scala
Labels: dependency, automerge

#3885 Update zio, zio-streams, zio-test, ... to 2.1.5
  project/Versions.scala
Labels: dependency, automerge

#3881 Update zio-json to 0.7.1
  project/Versions.scala
Labels: dependency, automerge
