Repository softwaremill/tapir, pull requests merged in 2024-01, with the labels that each got.

#3432 Update sbt-scalajs, scalajs-compiler, ... to 1.15.0
  project/plugins.sbt
Labels: dependency, automerge

#3433 Update http4s-blaze-client, ... to 0.23.16
  project/Versions.scala
Labels: dependency, automerge

#3435 Update sbt-projectmatrix to 0.9.2
  project/plugins.sbt
Labels: dependency, automerge

#3437 Update http4s-blaze-client to 0.23.16
  project/Versions.scala
Labels: dependency, automerge

#3436 Update jsoniter-scala-core, ... to 2.27.0
  build.sbt
Labels: dependency, automerge

#3439 Update zio, zio-streams, zio-test, ... to 2.0.21
  project/Versions.scala
Labels: dependency, automerge

#3440 Update http4s-circe, http4s-core, ... to 0.23.25
  project/Versions.scala
Labels: dependency, automerge

#3443 Update opentelemetry-api, ... to 1.34.0
  project/Versions.scala
Labels: dependency, automerge

#3442 Update jsoniter-scala-core, ... to 2.27.1
  build.sbt
Labels: dependency, automerge

#3444 Update mdoc, sbt-mdoc to 2.5.2
  project/plugins.sbt
Labels: dependency, automerge

#3450 Update upickle to 3.1.4
  project/Versions.scala
Labels: dependency, automerge

#3451 Update opentelemetry-api, ... to 1.34.1
  project/Versions.scala
Labels: dependency, automerge

#3452 Update jsoniter-scala-core, ... to 2.27.2
  build.sbt
Labels: dependency, automerge

#3453 Update jsoniter-scala-core, ... to 2.27.3
  build.sbt
Labels: dependency, automerge

#3454 Update cats-effect to 3.5.3
  project/Versions.scala
Labels: dependency, automerge

#3457 Update play-json to 2.10.4
  project/Versions.scala
Labels: dependency, automerge

#3458 Update netty-all to 4.1.105.Final
  project/Versions.scala
Labels: dependency, automerge

#3455 Update jwt-circe to 9.4.6
  project/Versions.scala
Labels: dependency, automerge

#3456 Update client3:akka-http-backend, ... to 3.9.2
  project/Versions.scala
Labels: dependency, automerge

#3460 [bugfix] Close the DefaultEventExecutor on shutdown
  server/netty-server/cats/src/main/scala/sttp/tapir/server/netty/cats/NettyCatsServer.scala
  server/netty-server/loom/src/main/scala/sttp/tapir/server/netty/loom/NettyIdServer.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/NettyFutureServer.scala
  server/netty-server/zio/src/main/scala/sttp/tapir/server/netty/zio/NettyZioServer.scala
Labels: bug, Netty

#3462 Update zio-prelude to 1.0.0-RC22
  project/Versions.scala
Labels: dependency, automerge

#3459 Update play-json to 3.0.2
  build.sbt
  project/Versions.scala
Labels: dependency, automerge

#3466 Update sbt-scala-native to 0.4.17
  project/plugins.sbt
Labels: dependency, automerge

#3465 Update netty-all to 4.1.106.Final
  project/Versions.scala
Labels: dependency, automerge

#3467 Update fs2-reactive-streams to 3.9.4
  project/Versions.scala
Labels: dependency, automerge

#3468 Update jsoniter-scala-core, ... to 2.27.4
  build.sbt
Labels: dependency, automerge

#3469 [bugfix] Release Netty buffers
  server/netty-server/src/main/scala/sttp/tapir/server/netty/internal/reactivestreams/FileWriterSubscriber.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/internal/reactivestreams/SimpleSubscriber.scala
Labels: Netty

#3473 Update jackson-module-scala to 2.15.3
  build.sbt
Labels: dependency, automerge

#3475 Update quicklens to 1.9.7
  project/Versions.scala
Labels: dependency, automerge

#3474 Update jsoniter-scala-core, ... to 2.27.5
  build.sbt
Labels: dependency, automerge

#3480 Update jackson-module-scala to 2.16.1
  build.sbt
Labels: dependency, automerge

#3482 Update jsoniter-scala-core, ... to 2.27.6
  build.sbt
Labels: dependency, automerge

#3483 Update asyncapi-circe-yaml, ... to 0.7.4
  project/Versions.scala
Labels: dependency, automerge

#3481 Update java-dogstatsd-client to 4.3.0
  project/Versions.scala
Labels: dependency, automerge

#3487 Update refined to 0.11.1
  project/Versions.scala
Labels: dependency, automerge

#3486 Update jsoniter-scala-core, ... to 2.27.7
  build.sbt
Labels: dependency, automerge

#3492 Update jsoniter-scala-core, ... to 2.28.0
  build.sbt
Labels: dependency, automerge

#3495 Update armeria to 1.27.0
  project/Versions.scala
Labels: dependency, automerge

#3496 Update vertx-web to 4.5.2
  project/Versions.scala
Labels: dependency, automerge
