Repository softwaremill/tapir, pull requests merged in 2024-04, with the labels that each got.

#3628 WebSockets for netty-cats
  build.sbt
  doc/server/netty.md
  perf-tests/src/main/scala/sttp/tapir/perf/netty/cats/NettyCats.scala
  server/akka-http-server/src/test/scala/sttp/tapir/server/akkahttp/AkkaHttpServerTest.scala
  server/http4s-server/src/test/scala/sttp/tapir/server/http4s/Http4sServerTest.scala
  server/http4s-server/zio/src/test/scala/sttp/tapir/server/http4s/ztapir/ZHttp4sServerTest.scala
  server/netty-server/cats/src/main/scala-2.12/sttp/tapir/server/netty/cats/internal/ExecutionContexts.scala
  server/netty-server/cats/src/main/scala-3-2.13+/sttp/tapir/server/netty/cats/internal/ExecutionContexts.scala
  server/netty-server/cats/src/main/scala/sttp/tapir/server/netty/cats/NettyCatsServer.scala
  server/netty-server/cats/src/main/scala/sttp/tapir/server/netty/cats/NettyCatsServerInterpreter.scala
  server/netty-server/cats/src/main/scala/sttp/tapir/server/netty/cats/internal/Fs2StreamCompatible.scala
  server/netty-server/cats/src/main/scala/sttp/tapir/server/netty/cats/internal/NettyCatsRequestBody.scala
  server/netty-server/cats/src/main/scala/sttp/tapir/server/netty/cats/internal/WebSocketPipeProcessor.scala
  server/netty-server/cats/src/test/scala/sttp/tapir/server/netty/cats/NettyCatsServerTest.scala
  server/netty-server/cats/src/test/scala/sttp/tapir/server/netty/cats/NettyCatsTestServerInterpreter.scala
  server/netty-server/loom/src/main/scala/sttp/tapir/server/netty/loom/NettyIdServer.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/NettyConfig.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/NettyFutureServer.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/NettyResponseContent.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/internal/NettyBootstrap.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/internal/NettyServerHandler.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/internal/NettyToStreamsResponseBody.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/internal/StreamCompatible.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/internal/package.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/internal/ws/WebSocketAutoPingHandler.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/internal/ws/WebSocketControlFrameHandler.scala
  server/netty-server/src/main/scala/sttp/tapir/server/netty/internal/ws/WebSocketFrameConverters.scala
  server/netty-server/zio/src/main/scala/sttp/tapir/server/netty/zio/NettyZioServer.scala
  server/netty-server/zio/src/main/scala/sttp/tapir/server/netty/zio/internal/ZioStreamCompatible.scala
  server/pekko-http-server/src/test/scala/sttp/tapir/server/pekkohttp/PekkoHttpServerTest.scala
  server/play-server/src/test/scala/sttp/tapir/server/play/PlayServerTest.scala
  server/play29-server/src/test/scala/sttp/tapir/server/play/PlayServerTest.scala
  server/tests/src/main/scala/sttp/tapir/server/tests/ServerWebSocketTests.scala
  server/vertx-server/cats/src/test/scala/sttp/tapir/server/vertx/cats/CatsVertxServerTest.scala
  server/vertx-server/src/test/scala/sttp/tapir/server/vertx/VertxServerTest.scala
  server/vertx-server/zio/src/test/scala/sttp/tapir/server/vertx/zio/ZioVertxServerTest.scala
  server/zio-http-server/src/test/scala/sttp/tapir/server/ziohttp/ZioHttpServerTest.scala
Labels: Netty

#3657 Update prometheus-metrics-core, ... to 1.2.1
  build.sbt
Labels: dependency, automerge

#3665 Update opentelemetry-api, ... to 1.37.0
  project/Versions.scala
Labels: dependency, automerge

#3670 Update swagger-ui to 5.15.0
  project/Versions.scala
Labels: dependency, automerge

#3674 Update swagger-ui to 5.15.1
  project/Versions.scala
Labels: dependency, automerge

#3679 Update armeria to 1.28.0
  project/Versions.scala
Labels: dependency, automerge

#3680 Update zio, zio-streams, zio-test, ... to 2.0.22
  project/Versions.scala
Labels: dependency, automerge

#3681 Update slf4j-api to 2.0.13
  project/Versions.scala
Labels: dependency, automerge

#3678 Update logback-classic to 1.5.5
  project/Versions.scala
Labels: dependency, automerge

#3686 Update armeria to 1.28.1
  project/Versions.scala
Labels: dependency, automerge

#3688 Update scala-collection-compat to 2.12.0
  project/Versions.scala
Labels: dependency, automerge

#3687 Update netty-all to 4.1.109.Final
  project/Versions.scala
Labels: dependency, automerge

#3697 Update swagger-ui to 5.15.2-1
  project/Versions.scala
Labels: dependency, automerge

#3696 Update scalacheck to 1.17.1
  project/Versions.scala
Labels: dependency, automerge

#3695 Update logback-classic to 1.5.6
  project/Versions.scala
Labels: dependency, automerge

#3700 Update armeria to 1.28.2
  project/Versions.scala
Labels: dependency, automerge

#3675 Web Sockets for netty-loom
  build.sbt
  doc/server/netty.md
  examples/src/main/scala/sttp/tapir/examples/HelloWorldNettySyncServer.scala
  examples/src/main/scala/sttp/tapir/examples/websocket/WebSocketNettySyncServer.scala
  perf-tests/README.md
  perf-tests/src/main/scala/sttp/tapir/perf/apis/Endpoints.scala
  perf-tests/src/main/scala/sttp/tapir/perf/netty/loom/NettySync.scala
  project/Versions.scala
  server/netty-server/loom/src/main/scala/sttp/tapir/server/netty/loom/NettyOxStreams.scala
  server/netty-server/loom/src/main/scala/sttp/tapir/server/netty/loom/NettySyncServer.scala
  server/netty-server/loom/src/main/scala/sttp/tapir/server/netty/loom/NettySyncServerInterpreter.scala
  server/netty-server/loom/src/main/scala/sttp/tapir/server/netty/loom/NettySyncServerOptions.scala
  server/netty-server/loom/src/main/scala/sttp/tapir/server/netty/loom/internal/NettySyncRequestBody.scala
  server/netty-server/loom/src/main/scala/sttp/tapir/server/netty/loom/internal/NettySyncToResponseBody.scala
  server/netty-server/loom/src/main/scala/sttp/tapir/server/netty/loom/internal/ox/OxDispatcher.scala
  server/netty-server/loom/src/main/scala/sttp/tapir/server/netty/loom/internal/reactivestreams/ChannelSubscription.scala
  server/netty-server/loom/src/main/scala/sttp/tapir/server/netty/loom/internal/reactivestreams/OxProcessor.scala
  server/netty-server/loom/src/main/scala/sttp/tapir/server/netty/loom/internal/ws/OxSourceWebSocketProcessor.scala
  server/netty-server/loom/src/main/scala/sttp/tapir/server/netty/loom/loom.scala
  server/netty-server/loom/src/test/scala/sttp/tapir/server/netty/loom/NettySyncServerTest.scala
  server/netty-server/loom/src/test/scala/sttp/tapir/server/netty/loom/NettySyncTestServerInterpreter.scala
  server/netty-server/loom/src/test/scala/sttp/tapir/server/netty/loom/perf/NettySyncServerRunner.scala
Labels: enhancement, Netty

#3709 Update gatling-charts-highcharts to 3.10.5
  build.sbt
Labels: dependency, automerge

#3710 Update classgraph to 4.8.172
  build.sbt
Labels: dependency, automerge

#3706 Update scalatags to 0.13.1
  project/Versions.scala
Labels: dependency, automerge

#3708 Update gatling-test-framework to 3.10.5
  build.sbt
Labels: dependency, automerge

#3713 Update swagger-ui to 5.17.0
  project/Versions.scala
Labels: dependency, automerge

#3719 Update zio-prelude to 1.0.0-RC24
  project/Versions.scala
Labels: dependency, automerge

#3725 Update sbt-twirl to 2.0.5
  project/plugins.sbt
Labels: dependency, automerge

#3692 Update sbt-scala-native to 0.5.1
  build.sbt
  project/Versions.scala
  project/plugins.sbt
Labels: dependency

#3720 Update gatling-sbt to 4.9.0
  project/plugins.sbt
Labels: dependency, automerge

#3715 Update tagging to 2.3.5
  build.sbt
Labels: dependency, automerge

#3726 Update swagger-ui to 5.17.2
  project/Versions.scala
Labels: dependency, automerge

#3729 Update armeria to 1.28.3
  project/Versions.scala
Labels: dependency, automerge
